<style>
    .section-wrapper-{{ section.id }}.double-column-text{
        width: 100%;
        margin-bottom: 40px;
        padding: 0px 15px;
    }    

    {% for block in section.blocks %}
      {% case block.type %}
      {%  when 'text-block' %}
    .section-wrapper-{{ section.id }}.double-column-text .text-block-{{ block.id }}{
      display: flex;
      gap: 20px;
      justify-content: space-between;
      text-align: {{ block.settings.text-align }};
    }
    .section-wrapper-{{ section.id }}.double-column-text .text-block-{{ block.id }}.width-small{
      max-width: 600px;
      margin: 0 auto;
    }
    .section-wrapper-{{ section.id }}.double-column-text .text-block-{{ block.id }}.width-medium{
      max-width: 967px;
      margin: 0 auto;
    }
    .section-wrapper-{{ section.id }}.double-column-text .text-block-{{ block.id }}.width-full{
      max-width: 100%;
    }
    .section-wrapper-{{ section.id }}.double-column-text .text-block-{{ block.id }} p{
      font-size: {{ block.settings.font-size | append: 'px' }};
      font-family: {{ block.settings.font }};
      color: {{ block.settings.text-color }};
      line-height: 22px;
    }
    @media screen and (max-width: 550px) {
      .section-wrapper-{{ section.id }}.double-column-text .text-block-{{ block.id }}{
        flex-wrap: wrap;
        gap: 0px;
      }    
    }
    @media screen and (max-width: 400px){
      .section-wrapper-{{ section.id }}.double-column-text .text-block-{{ block.id }} p{
        font-size: {{ block.settings.mobile-font-size | append: 'px' }};
        line-height: 22px;
      }
    }
      {% endcase %}
    {% endfor %}
     
</style>

<div class="section-wrapper-{{ section.id }} double-column-text">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'text-block' %}
        <div class="text-block-{{ block.id }} width-{{ block.settings.block-width }}">
          <div class="left-column column">
            {{ block.settings.first-column-text }}
          </div>
          <div class="right-column column">
            {{ block.settings.second-column-text }}   
          </div>                          
        </div>       
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "double-column-text",
    "tag": "section",
    "blocks": [    
      {
        "name": "text-block",
        "type": "text-block",
        "settings":[
          {
          "type": "select",
          "id": "block-width",
          "label": "Block width",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "medium"
        },
          {
            "type": "richtext",
            "id": "first-column-text",
            "label": "First column text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu euismod ante, quis finibus odio. Aenean scelerisque consectetur pharetra. In condimentum est eu eros malesuada aliquam. Aenean iaculis ligula a quam vehicula mattis. Nulla fringilla bibendum erat id molestie. Quisque id arcu in libero euismod rutrum sed ut libero. Nunc et dolor non ex elementum varius vel ut ligula. Sed id felis ex. Aenean tristique lobortis est, vitae consequat turpis sagittis varius. Quisque pharetra, dui ornare iaculis consectetur, magna velit condimentum nulla, non tristique nisl lorem ac risus. Cras accumsan eu est in dignissim.</p>"
          },
          {
            "type": "richtext",
            "id": "second-column-text",
            "label": "Second column text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu euismod ante, quis finibus odio. Aenean scelerisque consectetur pharetra. In condimentum est eu eros malesuada aliquam. Aenean iaculis ligula a quam vehicula mattis. Nulla fringilla bibendum erat id molestie. Quisque id arcu in libero euismod rutrum sed ut libero. Nunc et dolor non ex elementum varius vel ut ligula. Sed id felis ex. Aenean tristique lobortis est, vitae consequat turpis sagittis varius. Quisque pharetra, dui ornare iaculis consectetur, magna velit condimentum nulla, non tristique nisl lorem ac risus. Cras accumsan eu est in dignissim.</p>"
          },
         {
          "type": "range",
          "id": "font-size",
          "label": "Font size",
          "min": 12,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 15
        },
        {
          "type": "range",
          "id": "mobile-font-size",
          "label": "Mobile Font size",
          "min": 12,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 12
        },
        {
         "type": "font",
         "id": "font",
         "label": "Font Family"
        },
        {
          "type": "color",
          "label": "Text color",
          "id": "text-color",
          "default": "#000000"
        },
        {
          "type": "select",
          "id": "text-align",
          "label": "text-align",
          "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "center",
              "label": "center"
            },
            {
              "value": "right",
              "label": "right"
            }
          ],
          "default": "left"
        }

        ]
      }

    ],
    "presets": [
    {
      "category": "content",
      "name": "double-column-text",
      "blocks": [
        {
          "type": "text-block"
        }

      ]
    }
  ] 
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}