<Section class="section-wrapper-{{ section.id }}">
  {% for block in section.blocks %}
    {% case block.type %}
       {% when 'image' %}
          <div class="image-wrapper-{{ block.id }}">
                <div class="left-image-wrapper image {{ block.settings.custom-box-width }}">
                  <div class="left-image">
                      {% if block.settings.image %}
                      <img
                        src=" {{ block.settings.image | img_url: 'master' }} "
                        alt=""
                        height=""
                        width= 600px
                        loading="lazy">
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    
                      {% endif %}
                  </div>
                </div>

                <div class="right-image-wrapper image {{ block.settings.custom-box-width}}">
                  <div class="right-image">
                      {% if block.settings.image %}
                      <img
                        src=" {{ block.settings.image | img_url: 'master' }} "
                        alt=""
                        height=""
                        width= 600px
                        loading="lazy">
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    
                      {% endif %}
                  </div>
                </div>       
          </div>

          <div class="text-block {{ block.settings.text-align }}">
             {{ section.settings.text }}
          </div> 

        {% when 'spacer-block' %}
            <div class="spacer-{{ block.id }}">
                
            </div>
   {% endcase %}
  {% endfor %}
</Section>

<style>
  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'image' %}
      section .section-wrapper-{{ section.id }} .image-wrapper-{{ block.id }}{
        display: flex;
        justify-content: center;
        gap: {{ block.settings.gap }}px;
      }
      section .section-wrapper-{{ section.id }} .image-wrapper-{{ block.id }} .image{
        background: {{ block.settings.background-color }};
      }
      section .section-wrapper-{{ section.id }} .image-wrapper-{{ block.id }} .left-image-wrapper .left-image{
        margin: {{ block.settings.top-down-margin }}px {{ block.settings.left-right-margin }}px;
      }
      section .section-wrapper-{{ section.id }} .image-wrapper-{{ block.id }} .left-image-wrapper .left-image{
        margin: {{ block.settings.top-down-margin }}px {{ block.settings.left-right-margin }}px;
      }
      section .section-wrapper-{{ section.id }} .image-wrapper-{{ block.id }} img{
        width: 100%;
      }
      section .section-wrapper-{{ section.id }} .text-block p{
        font-size: {{ block.settings.font-size | append: 'px' }};
        font-family: {{ block.settings.font }};
        color: {{ block.settings.text-color }};
        margin: 0px;
      }
<<<<<<< HEAD

      {% when 'spacer-block' %}
        .section-wrapper-{{ section.id }} .spacer-{{ block.id }}{
          height: {{ block.settings.spacer-height }}px;
        }
      {% endcase %}
    {% endfor %}
=======
>>>>>>> b4d56a5e92bc7f643166eaaa5820d71998361127

      {% when 'spacer-block' %}
        .section-wrapper-{{ section.id }} .spacer-{{ block.id }}{
          height: {{ block.settings.spacer-height }}px;
        }
      {% endcase %}
    {% endfor %}
</style>

{% schema %}
{
"name": "double-image-text",
"blocks":[
{
  "type": "image",
  "name": "Image with Text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "custom-box-width",
      "label": "Custom Box width",
      "min": 220,
      "max": 700,
      "step": 5,
      "unit": "px",
      "default": 300
    },
    {
      "type": "range",
      "id": "top-down-margin",
      "label": "Image margin(Top-Down)",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 56
    },
    {
      "type": "range",
      "id": "left-right-margin",
      "label": "Image margin(Left-Right)",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 56
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap between",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 56
    },
    {
      "type": "color_background",
      "id": "background-color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Change Text",
      "default": "<p>Model wears <span><a href=''>Whiting Shirt Cosmic Papaya Check</a></span> with <span><a> Dean T Shirt</a></span> Black and >span><a>Pleat Trousers Black</a></p>"
    },
    {
     "type": "font",
     "id": "font",
     "label": "Font Family"
    },
    {
      "type": "range",
      "id": "font-size",
      "label": "Font size",
      "min": 12,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 14
    },
    {
      "type": "color",
      "label": "Text color",
      "id": "text-color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "line-height",
      "label": "Line height",
      "min": 2,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 22
    },
    {
      "type": "checkbox",
      "id": "hide-text",
      "label": "Hide Text",
      "default": false
    },
    {
      "type": "select",
      "id": "text-align",
      "label": "Text align",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "left"
    }

  ]
}

],

"presets": [
{
  "category": "content",
  "name": "Image with Text",
  "blocks": [
    {
      "type": "image"
    }
  ]
}
]  

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
