<Section class="section-wrapper-{{ section.id }}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image' %}
          <div class="image-wrapper {{ block.settings.block-width }}">
                <div class="left-image-wrapper image">
                   <div class="left-image">
                      <div class="inner-image-block-left {% if block.settings.full-image == true %}full-image{% endif %}">
                          {% if block.settings.first-image %}
                          <img
                            src=" {{ block.settings.first-image | img_url: 'master' }} "
                            alt=""
                            height=""
                            width=""
                            loading="lazy">
                          {%- else -%}
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        
                          {% endif %}
                      </div>
                  </div>
                    <div class="text-block {{ block.settings.text-align }} {% if block.settings.hide-text == true %}hide-text{% endif %}">
                     {{ block.settings.text }}
                  </div> 
                </div>

                <div class="right-image-wrapper image">
                  <div class="right-image">
                    <div class="inner-image-block-right">
                          {% if block.settings.second-image %}
                          <img
                            src=" {{ block.settings.second-image | img_url: 'master' }} "
                            alt=""
                            height=""
                            width= ""
                            loading="lazy">
                          {%- else -%}
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        
                          {% endif %}
                    </div>
                  </div>
                  <div class="text-block {{ block.settings.text-align }} {% if block.settings.hide-text == true %}hide-text{% endif %}">
                    {{ block.settings.text }}
                 </div> 
                </div>       
         </div>

        {% when 'spacer-block' %}
            <div class="spacer-{{ block.id }}">
                
            </div>
   {% endcase %}
  {% endfor %}
</Section>

<style>

  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'image' %}
      .section-wrapper-{{ section.id }} .image-wrapper.small{
        max-width: 600px;
        margin: 0 auto;
      }
      .section-wrapper-{{ section.id }} .image-wrapper.medium{
        max-width: 968px;
        margin: 0 auto;
      }
      .section-wrapper-{{ section.id }} .image-wrapper{
        display: flex;
        justify-content: center;
        gap: {{ block.settings.gap }}px;
        line-height: 0px;
      }
      .section-wrapper-{{ section.id }} .image-wrapper .image{       
        flex: 1;
      }
      .section-wrapper-{{ section.id }} .image-wrapper .left-image-wrapper .left-image{
        background: {{ block.settings.background-color }};
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .section-wrapper-{{ section.id }} .image-wrapper.small .left-image-wrapper .left-image .inner-image-block-left{
        width: 228px;
        height: 285px;
      }
      .section-wrapper-{{ section.id }} .image-wrapper.medium .left-image-wrapper .left-image .inner-image-block-left{
        width: 373px;
        height: 465px;
      }
      .section-wrapper-{{ section.id }} .image-wrapper .left-image-wrapper .left-image .inner-image-block-left.full-image{
        width: 100%;
        height: 100%;
      }
      .section-wrapper-{{ section.id }} .image-wrapper .image .right-image,
      .section-wrapper-{{ section.id }} .image-wrapper .image .right-image .inner-image-block-right
      {
        height: 100%;
      }

      .section-wrapper-{{ section.id }} .image-wrapper .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

       .section-wrapper-{{ section.id }} .image-wrapper .image .text-block p{
        font-size: {{ block.settings.font-size | append: 'px' }};
        font-family: {{ block.settings.font }};
        color: {{ block.settings.text-color }};
      }
      .section-wrapper-{{ section.id }} .image-wrapper .image .text-block.hide-text{
        opacity: 0;
      }


      {% when 'spacer-block' %}
        .section-wrapper-{{ section.id }} .spacer-{{ block.id }}{
          height: {{ block.settings.spacer-height }}px;
        }
      {% endcase %}
    {% endfor %}
</style>

{% schema %}
{
"name": "double-image-text",
"blocks":[
  {
    "type": "image",
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "first-image",
        "label": "First Image"
      },
      {
        "type": "image_picker",
        "id": "second-image",
        "label": "Second Image"
      },
      {
        "type": "select",
        "id": "block-width",
        "label": "Block Width",
        "options": [
          {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            }
        ],
        "default": "small"
      },
      {
        "type": "checkbox",
        "id": "full-image",
        "label": "Full Image",
        "default": false
      },
      {
        "type": "range",
        "id": "gap",
        "label": "Gap between",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "default": 56
      },
      {
        "type": "color",
        "id": "background-color",
        "label": "Background color",
        "default": "#C1BEB4"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Change Text",
        "default": "<p>hello</p>"
      },
      {
      "type": "font",
      "id": "font",
      "label": "Font Family"
      },
      {
        "type": "range",
        "id": "font-size",
        "label": "Font size",
        "min": 12,
        "max": 50,
        "step": 1,
        "unit": "px",
        "default": 14
      },
      {
        "type": "color",
        "label": "Text color",
        "id": "text-color",
        "default": "#000000"
      },
      {
        "type": "checkbox",
        "id": "hide-text",
        "label": "Hide Text",
        "default": false
      },
      {
        "type": "select",
        "id": "text-align",
        "label": "Text align",
        "options": [
          {
            "value": "left",
            "label": "left"
          },
          {
            "value": "center",
            "label": "center"
          },
          {
            "value": "right",
            "label": "right"
          }
        ],
        "default": "left"
      }
    ]
  },
  {
          "type": "spacer-block",
          "name": "Spacer",
          "settings": [
            {
              "type": "range",
              "id": "spacer-height",
              "label": "Spacer Height",
              "min": 0,
              "max": 200,
              "step": 5,
              "unit": "px",
              "default": 30
            }
          ]
  }
],

"presets": [
{
  "category": "content",
  "name": "double-image-text",
  "blocks": [
    {
      "type": "image"
    },
    {
      "type": "spacer-block"
    }
  ]
}
]  

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
