<Section class="section-wrapper-{{ section.id }} width-{{ section.settings.section-width }}">
        <div class="ordered-list">
          <ol>
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'text' %}

                    <li>{{ block.settings.list-item-title }} <span class="item-list"> -{{ block.settings.list-item-description }}</span></li>

                  {% endcase %}
                {% endfor %}
          </ol>
        </div>
</Section>


<style>
  .section-wrapper-{{ section.id }}.width-small{
    max-width: 400px;
    margin: 0 auto;
  }
  .section-wrapper-{{ section.id }}.width-medium{
    max-width: 700px;
    margin: 0 auto;
  }
  .section-wrapper-{{ section.id }}.width-custom{
    max-width: {{ block.settings.section-width }}px;
    margin: 0 auto;
  }
  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'text' %}
      .section-wrapper-{{ section.id }} .ordered-list ol {
        list-style: none; 
        counter-reset: li;
        }
        .section-wrapper-{{ section.id }} .ordered-list ol li::before{
          content:  counter(li);
          content: "."
          color: red;
          display: inline-block;
          width: 1em;
        }  
        .section-wrapper-{{ section.id }} .ordered-list ol li{
          counter-increment: li;
        }

 
    {% endcase %}
  {% endfor %}
</style>
{% schema %}
  {
    "name": "ordered-list",
    "tag": "section",
    "settings": [
    {      
     "type": "select",
      "id": "section-width",
      "label": "Section Width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "small"
    },
    {
      "type": "range",
      "id": "custom-section-width",
      "label": "Custom Section width",
      "min": 400,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "default": 400
      }
    ],
    "blocks": [
      {
        "name": "text",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "list-item-title",
            "label": "List Item Title",
            "default": "Young Again"
          },
          {
            "type": "range",
            "id": "title-font-size",
            "label": "Title Font size",
            "min": 12,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 15
        },
        {
            "type": "font",
            "id": "title-font",
            "label": "Title Font"
        },
        {
              "type": "color",
              "label": "list title color",
              "id": "title-color",
              "default": "#333333"
        },
        {
            "type": "text",
            "id": "list-item-description",
            "label": "List Item Description",
            "default": "hello world"
        },
        {
            "type": "range",
            "id": "description-font-size",
            "label": "Description Font size",
            "min": 24,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 24
        },
        {
            "type": "font",
            "id": "description-font",
            "label": "Description Font"
        },
        {
              "type": "color",
              "label": "Description color",
              "id": "description-color",
              "default": "#333333"
        },
        {
          "type": "range",
          "id": "line-height",
          "label": "Line height",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 22
        }
        ]
      }
    ],
    "presets": [
    {
      "category": "content",
      "name": "ordered-list",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ] 
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}