<Section class="section-wrapper-{{ section.id }}">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'image' %}
        {% if block.settings.image == blank %}
        <div class="image-{{ block.id }}">
           <img src={{ 'image_1' | assets_url | img_url: '600px' }}>
        </div>         
        {% else %}
          <div class="image-{{block.id}}">          
            <img src ="{{ block.settings.image | img_url: '600px' }}">
          </div>
        {% endif %} 

          <div class="block-{{ block.id }}-width-{{ block.settings.block-width }}">
              {{ block.settings.text-content }}
          </div>

    {% endcase %}
  {% endfor %}
</Section>


<style>

  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'image' %}

    .block-{{ block.id }}-width-small{
      max-width: 575px;
      margin: 0 auto;
    }
    .block-{{ block.id }}-width-medium{
      max-width: 1148px;
      margin: 0 auto;
    }
    .block-{{ block.id }}-width-full{
      max-width: 100%;
    }
    .block-{{ block.id }}-width-custom{
      max-width: {{ block.settings.custom-block-width | append: "px" }};
      margin: 0 auto;
    }
    .section-wrapper-{{ section.id }} .text-block-{{ block.id }}{
      text-align: center;
    }
    .section-wrapper-{{ section.id }} .text-block-{{ block.id }} p{
      font-size: {{ block.settings.font-size | append: 'px' }};
      font-family: {{ block.settings.font }};
      color: {{ block.settings.text-color }};
      line-height: {{ block.settings.line-height }}px;
    }
    {% when 'spacer-block' %}
      .section-wrapper-{{ section.id }} .spacer-{{ block.id }}{
        height: {{ block.settings.spacer-height }}px;
      }

    {% when 'image' %}
      .section-wrapper-{{ section.id }} .image-{{ block.id }}{

        display: flex;
        justify-content: {{ block.settings.alignment }};
      }
      .section-wrapper-{{ section.id }} .image-{{ block.id }} img{
        width: {{ block.settings.image_width }}px;
      }

      {% endcase %}
      {% endfor %}

</style>


{% schema %}
  {
  "name": "single-image",
  "tag": "section",
  "settings": [
    {      
         "type": "select",
          "id": "section-width",
          "label": "Width",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "default": "medium"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
       {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
       },
        {
          "type": "richtext",
          "id": "text-content",
          "label": "Change text block",
          "default": "<p>Model wears Whiting Shirt Cosmic Papaya Check with Dean T Shirt Black and Pleat Trousers Black</p>"
        },
        {
          "type": "range",
          "id": "font-size",
          "label": "Font size",
          "min": 12,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 16
        },
        {
          "type": "range",
          "id": "mobile-font-size",
          "label": "Mobile Font size",
          "min": 12,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 16
        },
        {
          "type": "range",
          "id": "line-height",
          "label": "Line height",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 37
        },
        {
          "type": "range",
          "id": "mobile-line-height",
          "label": "Mobile Line height",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 37
        },
        {
         "type": "font",
         "id": "font",
         "label": "Font Family"
        },
        {
          "type": "color",
          "label": "Text color",
          "id": "text-color",
          "default": "#000000"
        },
        {
          "type": "select",
          "id": "text-align",
          "label": "text-align",
          "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "center",
              "label": "center"
            },
            {
              "value": "right",
              "label": "right"
            }
          ],
          "default": "left"
        }
      ]
    }
    
  ],
  "presets": [
    {
      "category": "content",
      "name": "single-image",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}